.newsletter {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    width: 100%;
    margin: auto;
}

.newsletter__content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.mewsletter__content__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;

    color: var(--text-primary);
}

.newsletter__content__message {
    font-size: 16px;
    line-height: 24px;
    color: var(--text-secondary);
}

.input__field {
    min-width: 270px;
    padding: 10px 14px;

    background: #FAFAFA;
    border: 1px solid #E6E6E6;
    border-radius: 4px;

    color: var(--text-tertiary);
    font-size: 14px;
    line-height: 20px; 
}

.input__field:focus {
    /* focus-rings/ring-brand-shadow-xs */
    box-shadow: 0px 0px 0px 1px #444CE7, 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px rgba(68, 76, 231, 0.12);
    outline: none;
}

.input__error {
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    /* Text/error */
    color: #DC2626;

    margin-top: 6px;
}

.input__error--show {
    display: block;
}

.newsletter__form {
    display: flex;
    gap: 16px;
}

.btn {
    cursor: pointer;
    padding: 10px 14px;

    /* Background/brand-primary */
    background: var(--background-brand-primary);
    /* shadow / shadow */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
    border: none;
    border-radius: 4px;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.btn--primary:hover { 
    background: #3730A3;
    /* shadow / shadow */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
}

.btn--primary:focus {
    outline: none;
    box-shadow: 0px 0px 0px 4px rgba(68, 76, 231, 0.12);
}

@media only screen and (max-width: 375px) {
    .input__field, .btn {
        width: 100%;
    }

    .newsletter__form {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 768px) {
    .newsletter {
        flex-direction: column;
    }

    .newsletter__content {
        margin-bottom: 20px;
    }

    .newsletter__form__input-wrapper {
        flex-grow: 1;
    }

    .input__field {
        width: 100%;
    }
}